* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: cursive;
  font-size: 0.9rem;
}

.container {
  padding: 10px;
}



#game {
  width: 100%;
  height: 80vh;
  background: #f1f1f1;
  border: 1px solid #333;
}

p, .menu {
  margin: 0;
  padding: 0;
}

.chat {
  background: #fdfdfd;
  width: 350px;
  height: 250px;
  max-width: 350px;
  max-height: 250px;
  border: 1px solid #ececec;
  position: fixed;
  top: 100vh;
  margin-top: -250px;
}

.chat form {
  position: absolute;
  top: auto;
  bottom: 0;
}
.chat input[type="text"] {
  padding: 5px;
  margin: 0;
  width: 300px;
}

.chat input[type="submit"] {
  padding: 5px;
}

#chat span {
  font-weight: bold;
  text-transform: uppercase;
}


.menu,
#chat {
  list-style: none;
}

#chat {
  background: #fff;
  height: 190PX;
  overflow-y: scroll;
  scroll-behavior: smooth; 
}

.menu li,
#chat li {
  margin: 0;
}

#chat li {
  margin: 4px 1px;
}

.serverOnline {
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
}

.on {
  background: green;
}

.off {
  background: red;
}